<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>RecipeDB</title>
</head>

<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="logo">RecipeDB</a>

            <div class="nav-links">
                <a href="/recipes">Recipes</a>
                <a href="/search">Search</a>
                <a href="/add_recipe">Add Recipe</a>
            </div>
        </div>
    </nav>

    <section class="hero">

        <div class="hero-content">

            <h1>Welcome to RecipeDB</h1>

            <div class="hero-buttons">
                <a href="/recipes" class="primary-btn"> Explore Recipes</a>

                <a href="/add_recipe" class="secondary-btn" > Add Your Recipe </a>
            </div>

            <br><br>

            <button onclick="loadCuisineCounts()" class="primary-btn"> Cuisine Counts </button>

            <br><br>
            <div id="cuisineCounts"></div>
        </div>

    </section>

    <script>
        async function loadCuisineCounts() {

            const res = await fetch("/api/cuisine-counts");
            const data = await res.json();

            const container = document.getElementById("cuisineCounts");

            container.innerHTML = data.map(c => `
                <p>${c.cuisine_name}: ${c.recipe_count}</p>
            `).join("");
        }
    </script>
</body>
</html>