<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Recipes</h1>
    
    {% for recipe in recipes %}
        <div>
            <h2>
                <a href="/recipes/{{ recipe.recipeID }}">
                    {{ recipe.name }}
                </a>
            </h2>

            <p>Duration: {{ recipe.duration }}</p>
            <p>Difficulty: {{ recipe.difficulty_level }}/5</p>

            {% if recipe.photoURL %}
                <img src="{{ recipe.photoURL }}" width="250">
            {% endif %}
        </div>
        <hr>
    {% endfor %}

</body>
</html>